body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}
.navigator {
  width: 100%;
  height: 120px;
  background: #b22222;
  display: flex;
  justify-content: space-between;
}
.nav-left {
  /* border: 1px solid black; */
  width: 1020px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-right {
  /* border: 1px solid blue; */
  width: 900px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 15px;
  right: 10px;
}
a {
  text-decoration: none !important;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
}
a:hover {
  color: rgba(250, 188, 116, 1);
}

.a-right {
  font-size: 36px;
  line-height: 42px;
}
.background {
  background-color: rgba(196, 196, 196, 0.69);
  height: 102%;
  width: 100%;
  position: absolute;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
/* .background > p {
    position: relative;
    display: flex;
    position: absolute;
    width: 80%;
    height: 120px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
    padding-left: 70px;
    box-sizing: border-box;
  } */
.content-bc {
  width: 80%;
  height: 60%;
  /* border: 1px solid; */
  margin-top: 10%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.upload-image {
  width: 80%;
  height: 60%;
  /* border: 1px solid; */
}

.content-img {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.button-upload {
  text-align: center;
  margin-bottom: 15px;
}
.button-upload button {
  font-size: 36px;
  line-height: 42px;
  font-family: "Kanit", sans-serif;
  background: #b22222;
  border-radius: 20px;
  width: 246.44px;
  height: 70px;
  color: rgba(255, 255, 255, 1);
  border: 0px;
}
.button-review-cancel {
  text-align: center;
  padding-bottom: 20px;
}
/* .button-review-cancel button {
      font-size: 36px;
      line-height: 42px;
      font-family: "Kanit", sans-serif;
      background: #b22222;
      border-radius: 20px;
      width: 170px;
      height: 70px;
      margin-right: 40px;
      color: rgba(255, 255, 255, 1);
      border: 0px;
    } */
.sumbit-res {
  width: 300px;
  font-size: 36px;
  line-height: 42px;
  font-family: "Kanit", sans-serif;
  background: #b22222;
  border-radius: 20px;
  width: 300px;
  height: 70px;
  margin-right: 40px;
  color: rgba(255, 255, 255, 1);
  border: 0px;
}
.cancel-res {
  font-size: 36px;
  line-height: 42px;
  font-family: "Kanit", sans-serif;
  background: #b22222;
  border-radius: 20px;
  width: 170px;
  height: 70px;
  margin-right: 40px;
  color: rgba(255, 255, 255, 1);
  border: 0px;
}

.content-bc-1 {
  /* border: 1px solid; */
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
/* .content-bc-1 p {
      position: absolute;
    }
    .content-bc-1 text {
      position: absolute;
    } */
.content-bc-2 {
  /* border: 1px solid; */
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.content-bc-3 {
  /* border: 1px solid; */
  width: 100%;
  height: 40%;
  margin-top: 0px;
}
.content-bc-3 p {
  font-size: 36px;
  line-height: 42px;
}

.content-bc-1 p {
  font-size: 36px;
  line-height: 42px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.content-bc-1 input {
  width: 100%;
  height: 77px;
  box-sizing: border-box;
}
.content-bc-2-1 p {
  font-size: 36px;
  line-height: 42px;
}
label {
  font-size: 36px;
  line-height: 42px;
}

input[type="checkbox"] {
  transform: scale(3);
  margin-left: 20px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content-bc-2-2 p {
  font-size: 36px;
  line-height: 42px;
}

.content-bc-2-3 {
  font-size: 36px;
  line-height: 42px;
}

.content-bc-4 {
  font-size: 36px;
  line-height: 42px;
}

input[type="text"] {
  font-size: 36px;
}
textarea {
  font-size: 36px;
}
.img-restaurant {
  height: 325px;
  padding: 2vw 2vw;
}
.white-background {
  width: 1660px;
  height: 120px;
  background-color: white;
  /* top: 3%; */
  position: absolute;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 90%;
}
.wh-ba-left {
  width: 20%;
  height: 120px;
  display: flex;
  align-items: center;
}
.wh-ba-left p {
  font-size: 50px;
  line-height: 59px;
  color: #000000;
  transform: translate(0px, 25%);
  margin-left: 70px;
  height: 120px;
}
.wh-ba-right {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  margin-left: 350px;
}
.wh-ba-right p {
  font-size: 50px;
  line-height: 59px;
  color: #000000;
  display: inline-block;
}

.wh-ba-right p:hover {
  color: rgba(250, 188, 116, 1);
}

.wh-ba-right-ptag {
  margin-left: 0px;
}

.add-res {
  width: 35%;
  padding: 0px;
  /* background-color: rgba(250, 188, 116, 1); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.up-res {
  width: 40%;
  /* margin-left: 40px; */
  height: 100%;
  /* background: yellow; */
  background-color: rgba(250, 188, 116, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  border-radius: 20px;
}
.improve-res {
  width: 40%;
  /* background-color: yellow; */
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 40%;
  justify-content: center;
}

.card-container {
  width: 1386px;
  height: 755px;
  /* border: 1px solid green; */
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
}
.card1 {
  width: 350px;
  height: 355px;
  /* border: 1px solid green; */
  border-radius: 20px;
  position: relative;
}
.card1 img {
  width: 350px;
  height: 295px;
  border-radius: 20px 20px 0px 0px;
}
.card1 p {
  position: absolute;
  top: 355px;
  font-size: 36px;
  line-height: 42px;
  background-color: black;
  color: #ffffff;
  width: 350px;
  margin: 0;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transform: translate(0px, -100%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.card2 {
  width: 350px;
  height: 355px;
  /* border: 1px solid green; */
  border-radius: 20px;
  position: relative;
}
.card2 img {
  width: 350px;
  height: 295px;
  border-radius: 20px 20px 0px 0px;
}
.card2 p {
  position: absolute;
  top: 355px;
  font-size: 36px;
  line-height: 42px;
  background-color: black;
  color: #ffffff;
  width: 350px;
  margin: 0;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transform: translate(0px, -100%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.card3 {
  width: 350px;
  height: 355px;
  /* border: 1px solid green; */
  border-radius: 20px;
  position: relative;
}
.card3 img {
  width: 350px;
  height: 295px;
  border-radius: 20px 20px 0px 0px;
}
.card3 p {
  position: absolute;
  top: 355px;
  font-size: 36px;
  line-height: 42px;
  background-color: black;
  color: #ffffff;
  width: 350px;
  margin: 0;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transform: translate(0px, -100%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.card4 {
  width: 350px;
  height: 355px;
  /* border: 1px solid green; */
  border-radius: 20px;
  margin-top: 15px;
  position: relative;
}
.card4 img {
  width: 350px;
  height: 295px;
  border-radius: 20px 20px 0px 0px;
}
.card4 p {
  position: absolute;
  top: 355px;
  font-size: 36px;
  line-height: 42px;
  background-color: black;
  color: #ffffff;
  width: 350px;
  margin: 0;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transform: translate(0px, -100%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.card5 {
  width: 350px;
  height: 355px;
  /* border: 1px solid green; */
  border-radius: 20px;
  margin-top: 15px;
  position: relative;
}
.card5 img {
  width: 350px;
  height: 295px;
  border-radius: 20px 20px 0px 0px;
}
.card5 p {
  position: absolute;
  top: 355px;
  font-size: 36px;
  line-height: 42px;
  background-color: black;
  color: #ffffff;
  width: 350px;
  margin: 0;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transform: translate(0px, -100%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.card6 {
  width: 350px;
  height: 355px;
  /* border: 1px solid green; */
  border-radius: 20px;
  margin-top: 15px;
  position: relative;
}
.card6 img {
  width: 350px;
  height: 295px;
  border-radius: 20px 20px 0px 0px;
}
.card6 p {
  position: absolute;
  top: 355px;
  font-size: 36px;
  line-height: 42px;
  background-color: black;
  color: #ffffff;
  width: 350px;
  margin: 0;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transform: translate(0px, -100%);
  padding-top: 10px;
  padding-bottom: 10px;
}
